<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{chat.name}}">
  <ion-content class="padding">
    <img ng-src="{{src}}"  width = "300" height = "300">
    <p>
      {{chat.content}}
    </p>
    <!-- <a href="{{chat.url}}"><p>个人主页</p></a>
    <a href="#" onclick="window.open('{{chat.url}', 'location=yes'); return false;">
      个人主页
    </a>  
    <a href="#" onclick="window.open('http://www.baidu.com', 'location=yes'); return false;">
      个人主页
    </a>  -->
    <a href="#" ng-click="gotoHTML()">
      个人主页
    </a>   
  </ion-content>
</ion-view>
