<!-- <ion-view view-title="Account">
  <ion-content>
    <ion-list>
    <ion-toggle  ng-model="settings.enableFriends">
        Enable Friends
    </ion-toggle>
    </ion-list>
  </ion-content>
</ion-view> -->

<ion-view class="has-header padding">
	<!-- <ion-content>
		<ion-list>
			<br>tak
			<br>
			<button class="button button-energized" ng-click="addImage()">

				Add image
			</button>
			<ion-scroll>
				<img ng-repeat="image in images" ng-src="{{urlForImage(image)}}" height="200px"/>
			</ion-scroll>		 
		</ion-list>
	</ion-content>  -->
	<ion-content>
	<!-- <input type="file" file-input="files" multiple  onchange="angular.element(this).scope().filesChanged(this);upload();">
	<button ng-click="upload()">Upload</button> -->
    <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}">
    <img ng-show="imgURI === undefined" ng-src="http://placehold.it/300x300">
    <button class="button button-energized" ng-click="getPhoto()">Take Picture</button>
	</ion-content>
</ion-view>
