<ion-view view-title="相铺" >
<ion-nav-bar>
    <ion-nav-buttons side="right">
    <!-- <button class="button icon ion-plus-round" ng-click="popover.show($event)">
    </button> -->
    <!-- <a  href='#/tab/display'> -->
      <!-- <a href='#/tab/takephoto'> -->
      <a ui-sref="tab.takephoto">
      <button class="button button-icon icon ion-ios-camera"  >  
      </button>
      </a>
      <!-- </a> -->
    <!-- </a> -->
    </ion-nav-buttons></ion-nav-bar>
    <ion-content>
        <ion-refresher
        pulling-text="Pull to refresh..."
        on-refresh="doRefresh()">
      </ion-refresher>
      <ion-list>
        <ion-item class="item-remove-animate" ng-repeat="chat in chats" type="item-text-wrap" ng-click="gotoDetail(chat.face)">
        <div class="list card">
           <div class="item item-avatar">
              
              <h2>{{chat.name}}</h2>
              
            </div>

          <div class="item item-body">
            
              <img ng-src="{{chat.content}}" width="100%" height="100%">
            
            <!-- <div class="col">
              <h2>{{chat.location}}</h2>
              <p>{{chat.location}}</p>
              <i class="icon ion-chevron-right icon-accessory"></i>
              <div class="col"></div>
            </div> -->
          </div>
          <div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item" href="#">
              <!-- <i class="icon ion-thumbsup"></i> -->
              Like
            </a>
            <a class="tab-item" href="#">
              <!-- <i class="icon ion-chatbox"></i> -->
              Comment
            </a>
            <a class="tab-item" href="#">
              <!-- <i class="icon ion-share"></i> -->
              Share
            </a>
          </div>

        </div>



  <!-- 
          <ion-option-button class="button-assertive" ng-click="remove(chat)">
            Delete
          </ion-option-button> -->
        </ion-item>
      </ion-list>
    </ion-content>
    
  </ion-view>
  


