<ion-view view-title="takephoto" name = "takephoto">
<!-- <ion-nav-bar>
  <ion-nav-back-button>
  </ion-nav-back-button>
</ion-nav-bar>
  <ion-content class="padding">
    <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}">
    <img ng-show="imgURI === undefined" ng-src="http://placehold.it/300x300">
    <button class="button button-energized" ng-click="addImage()">Take Picture</button>    
      <div class=" button-bar">
        <button class="button button-light button-android" ng-class="{ 'button\-positive': demo == 'ios' }" ng-click="setPlatform('ios')">
          iOS
        </button>
        <button class="button button-light button-android" ng-class="{ 'button\-positive': demo == 'android' }" ng-click="setPlatform('android')">
          Android
        </button>
        <button class="button button-light button-android" ng-class="{ 'button\-positive': demo == 'ionic' }" ng-click="setPlatform('ionic')">
          Ionic
        </button>

        <form  action="/refresh" method = "post" enctype="multipart/form-data">
                    FirstName:<input type="text" name="FirstName">
                    LastName:<input type="text" name="LastName">

                    <input type="file" name="pic" id="take-picture" accept="image/*">
                    
                    <input type="submit"  value="Submit">
                </form>
      </div>
      <button>
      	submit
      </button>
  </ion-content>
</ion-view>
 -->

<ion-view class="has-header padding" view-title="takephoto" name = "takephoto">
<ion-nav-bar>
  <ion-nav-back-button>
  </ion-nav-back-button>
</ion-nav-bar>

  <ion-content>
  <!-- <input type="file" file-input="files" multiple  onchange="angular.element(this).scope().filesChanged(this);upload();">
  <button ng-click="upload()">Upload</button> -->

    <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}">
    
    <img ng-show="imgURI === undefined" ng-src="http://placehold.it/300x300">
     
  <!-- <img ng-src="file:///Users/plutoshe/Library/Developer/CoreSimulator/Devices/5AEAF4FF-986B-4B2C-8A3D-A81E8EF285BD/data/Containers/Data/Application/A4D78728-7850-45F6-817A-B41A04A69C4E/tmp/cdv_photo_032.jpg"> -->
    <!-- <img id="newss"> -->
    <!-- <img ng-src="file:///Users/plutoshe/Library/Developer/CoreSimulator/Devices/5AEAF4FF-986B-4B2C-8A3D-A81E8EF285BD/data/Containers/Data/Application/E0C98EB5-1930-46E1-B84F-6264F49D76AA/tmp/cdv_photo_016.jpg"> -->
    <button class="button button-energized" ng-click="getPhoto()">Take Picture</button>
    <button class="button button-energized" ng-click="tranferFile()">Transfer</button>
    <button>submit</button>
  </ion-content>
</ion-view>

