<ion-view view-title="takephoto" name = "takephoto">
<!-- <ion-nav-bar>
  <ion-nav-back-button>
  </ion-nav-back-button>
</ion-nav-bar>
  <ion-content class="padding">
    <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}">
    <img ng-show="imgURI === undefined" ng-src="http://placehold.it/300x300">
    <button class="button button-energized" ng-click="addImage()">Take Picture</button>    
      <div class=" button-bar">
        <button class="button button-light button-android" ng-class="{ 'button\-positive': demo == 'ios' }" ng-click="setPlatform('ios')">
          iOS
        </button>
        <button class="button button-light button-android" ng-class="{ 'button\-positive': demo == 'android' }" ng-click="setPlatform('android')">
          Android
        </button>
        <button class="button button-light button-android" ng-class="{ 'button\-positive': demo == 'ionic' }" ng-click="setPlatform('ionic')">
          Ionic
        </button>

        <form  action="/refresh" method = "post" enctype="multipart/form-data">
                    FirstName:<input type="text" name="FirstName">
                    LastName:<input type="text" name="LastName">

                    <input type="file" name="pic" id="take-picture" accept="image/*">
                    
                    <input type="submit"  value="Submit">
                </form>
      </div>
      <button>
      	submit
      </button>
  </ion-content>
</ion-view>
 -->

<!--  <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

 -->


<ion-nav-view></ion-nav-view>
<ion-view class = "padding" view-title="takephoto" name="tab.takephoto">
<ion-nav-bar>
  <ion-nav-back-button>
  </ion-nav-back-button>
</ion-nav-bar>

  <ion-content>
  <!-- <p>111</p> -->
    <div class="row">
      <!-- <div class = "col"> -->
      <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}">
      <img ng-show="imgURI === undefined" ng-src="http://placehold.it/300x300">
      <!-- </div> -->
    </div>
    <div class="row">
    <button class="button button-energized" ng-click="getPhoto()">Take Picture</button>
    </div>
    <!-- <br/> -->

    <div class="list">
      <label class="item item-input">
        <!-- <span class="input-label">姓名</span> -->
        <input type="text" placeholder="姓名" ng-model='user.name'>
      </label>
      <!-- <div class = "col col-30">name</div>
      <div class = "col"></div> -->
    
    
      <label class="item item-input">
        <!-- <span class="input-label">个人主页</span> -->
        <input type="text" placeholder="个人主页" ng-model='user.url'>
      </label>
      <!-- <div class = "col col-30">content</div>
      <div class = "col"></div> -->
      <label class="item item-input">
        <!-- <span class="input-label">个人简介</span>  -->
        <textarea rows="4" placeholder="个人简介" ng-model='user.content'>

        </textarea>
        <!-- <input type="text" placehoder="个人简介">  -->
      </label>
      <!-- <div class = "col col-30">url</div>
      <div class = "col"></div> -->
    </div>
    <button class="button" ng-click="checkInput()">check</button>
    <a ui-sref='tab.display'><button class="button button-energized" ng-click="tranferFile()" >提交查看结果</button></a>
  </ion-content>
</ion-view>


